h1 Become a Member 
p Please enter the secret code to become a member
form(action="" method="post") 
    label(for="secret_code") Secret Code
    input(type="text", name="secret_code", placeholder="secret", required autofocus)   
    button Become a Member