h1 Create Message 
form(action="", method="POST")
    label(for="title") Title
    input(name="title", placeholder="title", type="text", required autofocus)
    label(for="content") Content
    input(name="content", type="text", required)
    button Create Message