h1 Sign Up 
form(action="", method="POST")
    label(for="full_name") Full Name
    input(name="full_name", placeholder="full name", type="text" required="" autofocus="")
    label(for="username") Username
    input(name="username", placeholder="username", type="text" required)
    label(for="password") Password
    input(name="password", type="password" required)
    label(for="confirm_password") Confirm Password
    input(name="confirm_password", type="password" required)
    button Sign Up